/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    font-family: 'Lato', sans-serif;
}


/* common */

.white{
    color: white;
}
.gray{
    color: #6d6d6d;
}
li{
    text-transform: capitalize;
}
ul{
    list-style-type: none;
}
li a{
    color: #6d6d6d;
    text-decoration: none;
}
li a img{
    color: #6d6d6d;
    text-decoration: none;
    padding-right: 5px;
}
.left-nav .fas{
    padding-right: 5px;
}

/* hover */
li a:hover{
    color: white;
}
.plus span:hover{
    cursor: pointer;
    color: white;
}
.playlist span:hover{
    color: white;
    cursor: pointer;
}
.install span:hover{
    color: white;
    cursor: pointer;
}
.fa-heart:hover{
    color: white;
    cursor: pointer;
}
.fa-folder:hover{
    color: white;
    cursor: pointer;
}
.left-content > span:hover{
    color: white;
    cursor: pointer;
}
.progress-bar:hover .green-bar{
    visibility: visible;
}
.button:hover{
    padding: 15px 25px;
    top: 15%;
}
ul li:hover .layover{
    visibility: visible;
}
.fa-play-circle:hover{
    font-size: 38px;
}
.main-content .nav-list ul li:hover{
    color: white;
    cursor: pointer;
}

/* layover img */
.layover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.img-circle .layover{
    border-radius: 50%;
}
.layover::before{
    font-family: 'font awesome 5 free';
    content: "\f144";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 60px;
}
.rel-layover{
    position: relative;
}

/* fixed banner */
.banner-fix{
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 220px);
    height: 72px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}
.button{
    position: absolute;
    right: 20px;
    top: 20%;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
}

/* MAIN */
main{
    height: calc( 100% - 100px );

}
.app-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #141922;
}
main::after{
    content:"";
    display: table;
    clear: both;
}
/* burger-nav */
.flex{
    display: flex;
    height:  100%;
}
.app-wrapper.xs {
    visibility: hidden;
    height:  100%;
}
.app-wrapper.xs ul .logo{
    width: 38px;
    margin: auto;
    padding-bottom: 25px;
}
.app-wrapper.xs ul .logo img{
    width: 100%;
}
.app-wrapper.xs .home img{
    height: 28px;
}
.app-wrapper.xs .library img{ 
    height: 28px;
}
.app-wrapper.xs{
    width: 50px;
    background-color: black;
}
.app-wrapper.xs ul{
    text-align: center;
}
.app-wrapper.xs ul li{
    padding-bottom: 15px;
}
.app-wrapper.xs .fa-search{
    font-size: 28px;
    color: white;
}

/* left nav */
.left-nav{
    float: left;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    padding: 0 20px;
    background-color: black;
}
.logo{
    margin-top: 15px;
}
.logo img{
    width: 70%;
    padding-bottom: 10px;
    overflow: hidden;
}

.left-nav li{
    padding-bottom: 5px;
}
.search img{
    height: 16px;
}
.home img{
    height: 16px;
}
.library img{ 
    height: 16px;
}
.left-nav h2{
    font-size: 14px;
    padding: 15px 0 10px 0;
}
.fa-plus{
    background-color: #6d6d6d;
    padding: 4px 0px 4px 5px;
    margin-right: 7px;
}
.plus{
    padding-bottom: 15px;
}

/* playlist */

.playlist-container{
    overflow-y: auto;
    min-height: 100px;
    height: calc( 100% - 330px );
}
.playlist li{
    padding-bottom: 15px;
}
.playlist span{
    text-transform: capitalize;
    color: #6d6d6d;
}

/* install app */

.install{
    border-bottom: 2px solid #6d6d6d;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.install span{
    font-size: 18px;
}
.fa-arrow-alt-circle-down{
    font-size: 20px;
    padding-right: 10px;
}
.bottom-nav{
    background-color: black;
}
.profile img{
    height: 38px;
    padding-left: 4px;
}
.profile{
    display: flex;
}
.circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #6d6d6d;
    overflow: hidden;
    display: inline-block;
}

.name span{
    line-height: 38px;
    padding-left: 10px;
    font-weight: bold;
}
/* right content */
.main-content{
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: white;
    padding-top: 80px;

}
.main-content .nav-list{
    display: flex;
    justify-content: center;
}
.main-content .nav-list ul li{
    display: inline-flex;
    padding-left: 7px;
    font-size: 12px;
    color: gray;
    
}
.recently-played{
    padding-top: 20px;
}
.recently-played h2 , .short-list h2{
    font-size: 35px;
    padding-top: 15px;
}
.recently-played ul , .short-list ul{
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.recently-played li {
    width: calc( 100% / 6 );
}
.recently-played li img , .short-list li img{
    width: 100%;
    overflow: hidden;
}
.recently-played li , .short-list li{
    font-weight: bold;
    padding-right: 20px;
    text-align: center;
}
sub{
    vertical-align: top;
    font-size: 12px;
    color: gray;
}
.short-list ul{
    width: 100%;
}
.short-list li{
    width: calc( 100% / 6 );
}
.short-list h2{
    padding-top: 30px;
}
.img-circle{
    overflow: hidden;
}
.img-circle img{
    width: 100%;
    border-radius: 50%;
}
/* FOOTER */

.block{
    display: block;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #282828;
    padding: 17px 10px;
    z-index: 30;
}
/* footer left */
.left{
    display: flex;
    max-width: 250px;
    color: gray;
}
.left span{
    padding: 0 5px;
}
.left *{
    align-items: center;
}
.music-action *{
    padding-right: 10px;
}
.left-content{
    display: flex;
}
.left-content img{
    width: 65px;
}
/* footer center */
.center{
    flex-grow: 1;
    width: 250px;
}
.play{
    display: flex;
    flex-grow: 0;
    max-width: 300px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.play *{
    font-size: 20px;
    color: white;
}
.fa-play-circle{
    font-size: 32px;
}
.progress{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress span {
    color: gray;
    margin: 0 20px;
}
.progress-bar{
    flex-grow: 1;
    height: 4px;
    background-color: #5a5a5a;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    /* max-width: 1100px; */

}
.green-bar{
    position:relative;
    height: 100%;
    background-color: green;
    width: 100%;
    border-radius: 5px;
    visibility: hidden;
}
.white-bar{
    height: 100%;
    background-color: #c1c1c1;
    width: 20%;
    border-radius: 5px;
}
footer .circle{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 15px;
    height: 15px;
    background-color: green;
}
.circle-black{
    position: relative;
    top: 4px;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}
/* footer right */
.right{
    margin-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right .action-icon{
    display: flex;
    color: white;
    width: 65%;
    align-items: center;
}
.right .action-icon *{
    padding-right: 10px;
}
.right .progress-bar{
    min-width: 50px;
}
/* MEDIA QUERIES */
/* responsive lg */
@media screen and (min-width: 768px) and (max-width: 1200px){
    .recently-played li {
        width: calc( 100% / 4 );
    }
    .short-list li{
        width: calc( 100% / 4 );
    }
}
/* responsive md */
@media screen and (min-width: 568px) and (max-width: 768px){
    .recently-played .stranger{
        font-size: 10px;
    }
    .recently-played .stranger sub{
        font-size: 9px;
    }
    .short-list li{
        width: calc( 100% / 4 );
    }
}
/* responsive s */
@media screen and (min-width: 639px) and (max-width: 768px){
    .recently-played li {
        width: calc( 100% / 2 );
    }
    .short-list li{
        width: calc( 100% / 2 );
    }

}
/* responsive xs */
 
@media screen and (max-width: 638px){
    .recently-played li {
        width: calc( 100% / 2 );
    }
    .left-nav{
        display: none;
    }
    .flex {
        display: inline-flex;
    }
    .banner-fix{
        width: calc( 100% - 45px );
    }

    .short-list li{
        width: calc( 100% / 2 );
    }
    .app-wrapper.xs{
        visibility: visible;
    }
    .main-content{
        padding: 20px;
        padding-top: 80px;
    }
    .footer.right .action-icon .fas{
        font-size: 10px;
        padding: 0 5px;
    }
}
