/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    font-family: 'Lato', sans-serif;
}


/* common */

.white{
    color: white;
}
.gray{
    color: #6d6d6d;
}
li{
    text-transform: capitalize;
}
ul{
    list-style-type: none;
}
li a{
    color: #6d6d6d;
    text-decoration: none;
}
li a img{
    color: #6d6d6d;
    text-decoration: none;
    padding-right: 5px;
}
.left-nav .fas{
    padding-right: 5px;
}

/* hover */
li a:hover{
    color: white;
}
.plus span:hover{
    cursor: pointer;
    color: white;
}
.playlist span:hover{
    color: white;
    cursor: pointer;
}
.install span:hover{
    color: white;
    cursor: pointer;
}
.fa-heart:hover{
    color: white;
    cursor: pointer;
}
.fa-folder:hover{
    color: white;
    cursor: pointer;
}
.left-content > span:hover{
    color: white;
    cursor: pointer;
}

/* fixed banner */
.banner-fix{
    position: fixed;
    top: 0;
    right: 0;
    width: calc( 100% - 220px);
    height: 72px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
}
.button{
    position: absolute;
    right: 20px;
    top: 15%;
    padding: 15px 25px;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
}

/* MAIN */
main{
    height: calc( 100% - 100px );

    /* test */
    background-color: blue;

}
.app-wrapper{
    width: 100%;
    height: 100vh;
}
main::after{
    content:"";
    display: table;
    clear: both;
}

/* left nav */
.left-nav{
    float: left;
    width: 250px;
    height: 100%;
    overflow-y: hidden;
    padding: 0 20px;
    background-color: black;
}
.logo{
    margin-top: 15px;
}
.logo img{
    width: 70%;
    padding-bottom: 10px;
    overflow: hidden;
}
.search{
    padding-top: 10px;
}
.left-nav li{
    padding-bottom: 5px;
}
.home img{
    height: 16px;
}
.library img{ 
    height: 16px;
}
/* right content */
.main-content{
    float: left;
    width: calc( 100% - 250px );
    height: 100%;
    overflow-y: auto;
    /* test */
    background-color: blueviolet;
}
.left-nav h2{
    font-size: 14px;
    padding: 15px 0 10px 0;
}
.fa-plus{
    background-color: #6d6d6d;
    padding: 4px 0px 4px 5px;
    margin-right: 7px;
}
.plus{
    padding-bottom: 15px;
}

/* playlist */

.playlist-container{
    overflow: auto;
    min-height: 100px;
    height: calc( 100% - 330px );
}
.playlist li{
    padding-bottom: 15px;
}
.playlist span{
    text-transform: capitalize;
    color: #6d6d6d;
}

/* install app */

.install{
    border-bottom: 2px solid #6d6d6d;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.install span{
    font-size: 18px;
}
.fa-arrow-alt-circle-down{
    font-size: 20px;
    padding-right: 10px;
}
.bottom-nav{
    background-color: black;
}
.profile img{
    height: 38px;
    padding-left: 4px;
}
.profile{
    display: flex;
}
.circle{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #6d6d6d;
    overflow: hidden;
    display: inline-block;
}

.name span{
    line-height: 38px;
    padding-left: 10px;
    font-weight: bold;
}
/* FOOTER */

.block{
    display: block;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    overflow-y: hidden;
    background-color: #282828;
    padding: 17px 10px;
}
/* footer left */
.left{
    display: flex;
    width: 250px;
    color: gray;
    flex-grow: 1;
}
.left span{
    padding: 0 5px;
}
.left *{
    align-items: center;
}
.music-action *{
    padding-right: 10px;
}
.left-content{
    display: flex;
}
.left-content img{
    width: 65px;
}
/* footer center */
.center{
    flex-grow: 3;
    width: 250px;
}
.play{
    display: flex;
    flex-grow: 0;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.play *{
    font-size: 20px;
    color: white;
}
.fa-play-circle{
    font-size: 32px;
}
.progress{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress span{
    color: gray;
}
.progress-bar{
    flex-grow: 1;
    height: 4px;
    background-color: #5a5a5a;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;

}
.white-bar{
    height: 100%;
    background-color: #c1c1c1;
    width: 20%;
    border-radius: 5px;
}
footer .circle{
    width: 15px;
    height: 15px;
    background-color: white;
    display: flex;
}
.circle-black{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
    vertical-align: middle;


}
/* footer right */
.right{
    height: 100%;
    width: 200px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right .action-icon{
    display: flex;
    color: white;
    width: 65%;
    align-items: center;
}
.right .action-icon *{
    padding-right: 10px;
}
.right .progress-bar{
    width: 50%;
}